.section-about {
  padding-top: 101px;
  padding-bottom: 102px;
  background: #202020 no-repeat url("../../images/svg/about-ellipse.svg") right;

  @media screen and (max-width: 1200px){
    background: #202020 no-repeat url("../../images/svg/about-ellipse-tablet.svg") right;
  }

  @media screen and (max-width: 768px) {
    background: #202020 no-repeat url("../../images/svg/about-ellipse-mobile.svg") right;
    padding-top: 72px;
    padding-bottom: 76px;
  }
}

.section-about__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 524px;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    max-width: 342px;
  }
}

.section-about__title {
  @include big-text($color: #FAEB49);
  margin-top: 0;
  margin-bottom: 0;
}

.section-about__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  font-family: $regular-ff;
  font-weight: 500;
  line-height: normal;
}

.numbers-list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  gap: 96px;

  @media screen and (max-width: 768px){
    gap: 14px;
  }
}

.numbers-list__number {
  @include big-text();
  display: block;
  margin-bottom: 5px;

  @media screen and (max-width: 768px) {
    @include big-text($font-size: 36px)
  }
}

.numbers-list__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  font-family: $regular-ff;
  font-weight: 700;
}