.page-footer {
  background-color: #202020;
  padding-top: 78px;
  padding-bottom: 30px;

  @media screen and (max-width: 1200px) {
    padding-top: 96px;
    padding-bottom: 35px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 53px;
    padding-bottom: 40px;
  }
}

.contact-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 42px 137px;
  border: 1px solid #F2F2F2;
  border-radius: 139px;

  @media screen and (max-width: 1200px) {
    padding: 32px 50px;
  }
  @media screen and (max-width: 768px) {
    padding: 22px 30px;
  }
}

.contact-link__image {
  width: 108px;
  height: 108px;
  margin-right: 45px;

  @media screen and (max-width: 1200px) {
    width: 86px;
    height: 86px;
    margin-right: 30px;
  }

  @media screen and (max-width: 768px) {
    width: 52px;
    height: 52px;
    margin-right: 20px;
  }
}

.contact-link__text-container {

  &--title {
    @include big-text();
    margin-top: 0;
    margin-bottom: 17px;

    @media screen and (max-width: 1200px) {
      @include big-text($font-size: 38px);
    }

    @media screen and (max-width: 768px) {
      @include big-text($font-size: 20px);
      margin-bottom: 7px;
    }
  }

  &--text {
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    font-family: $regular-ff;
    font-size: 24px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 15px;
    }

    &:after {
      content: url("../../images/svg/arrow-right.svg");
      display: inline-block;
      margin-left: 24px;
      position: relative;
      top: 6px;

      @media screen and (max-width: 768px) {
        content: url("../../images/svg/arrow-right-small.svg");
        margin-left: 15px;
        top: 4px;
      }
    }
  }
}

.copy {
  display: flex;
  flex-direction: column;
  gap: 21px;
}


.copy__container-social {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.copy__link {
  text-decoration: none;

  &--image {
    width: 24px;
    height: 24px;
  }
}

.copy__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  font-family: $regular-ff;
  font-weight: 500;
}