.section-graphics {
  background-color: #202020;
  padding-top: 82px;
  padding-bottom: 138px;

  @media screen and (max-width: 1200px) {
    padding-bottom: 129px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 58px;
    padding-bottom: 93px;
  }
}

.section-graphics__title {
  @include huge-text();
  margin-top: 0;
  margin-bottom: 38px;

  @media screen and (max-width: 768px) {
    @include huge-text($font-size: 36px);
    margin-bottom: 28px;
  }
}

.section-graphics__list {
  @include list-reset();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;

  @media screen and (max-width: 1200px) {
    row-gap: 26px;
    column-gap: 34px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.section-graphics__item {
  display: block;
  position: relative;

  &:first-child {
    grid-area: 1 / 1 / 2 / 3;

    @media screen and (max-width: 768px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  &--star:after {
    content: url("../../images/svg/soft-star.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1200px){
      content: url("../../images/svg/soft-star-tablet.svg");
    }
    @media screen and (max-width: 768px){
      content: url("../../images/svg/soft-star-mobile.svg");
    }
  }

  &--butterfly:after {
    content: url("../../images/svg/butterfly.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1200px){
      content: url("../../images/svg/butterfly-tablet.svg");
    }
    @media screen and (max-width: 768px){
      content: url("../../images/svg/butterfly-mobile.svg");
    }
  }

  &--asterisk:after {
    content: url("../../images/svg/asterisk.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1200px){
      content: url("../../images/svg/asterisk-tablet.svg");
    }
    @media screen and (max-width: 768px){
      content: url("../../images/svg/asterisk-mobile.svg");
    }
  }
}

.section-graphics__image {
  border-radius: 40px;
  width: 100%;
  height: 414px;
  object-fit: cover;
  filter: grayscale(100%);

  @media screen and (max-width: 1200px) {
    height: 325px;
  }
  @media screen and (max-width: 768px) {
    height: 325px;
  }

  &--first {
    @media screen and (max-width: 1200px){
      height: 414px;
    }
    @media screen and (max-width: 768px){
      height: 325px;
    }
  }
}

