.page-header {
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
  padding-top: 41px;
  padding-bottom: 120px;

  @media screen and (max-width: 1200px) {
    padding-top: 38px;
    padding-bottom: 130px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 27px;
    padding-bottom: 150px;
  }
}

.page-header__title {
  @include huge-text();
  max-width: 850px;
  margin-top: 395px;
  margin-bottom: 0;

  @media screen and (max-width: 1200px) {
    width: 520px;
    margin-top: 180px;
  }
  @media screen and (max-width: 768px) {
    width: 325px;
    margin-top: 330px;
    font-size: 48px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;

  &--alt {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px 195px;
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.50);
    z-index: 1;

    @media screen and (max-width: 1200px){
      padding: 38px 34px;
    }
    @media screen and (max-width: 768px){
      padding: 27px 17px;
    }
  }
}



.header-nav__logo-link {
  text-decoration: none;

  &--image {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
  }
}

.header-nav__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 1200px) {
    display: none;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-nav__item {
  display: flex;
  align-items: center;
}

.header-nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid #FFF;

  &--image {
    width: 16px;
    height: 16px;
    margin-right: 12px;

    & g path {
      fill: #FFF;
    }
  }

  &--text {
    color: #FFF;
    font-family: $regular-ff;
    font-weight: 700;
  }
}

.header-nav__btn {
  display: none;
  padding: 18px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background-color: transparent;

  @media screen and (max-width: 1200px) {
    display: block;
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
}
