.section-projects {
  background-color: #3C3C3C;
  padding-top: 86px;
  padding-bottom: 86px;

  @media screen and (max-width: 1200px) {
    padding-top: 52px;
    padding-bottom: 122px;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 85px;
  }
}

.project-list {
  @include list-reset();
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 63px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 102px;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 63px;
  }
}

.project-list__item {

  position: relative;

  &:after {
    content: url("../../images/svg/arrow-45degree.svg");
    position: absolute;
    width: 56px;
    height: 56px;
    right: 45px;
    top: 38px;

    @media screen and (max-width: 768px){
      right: 32px;
      top: 32px;
    }
  }

  &:first-child {
    grid-area: 1 / 1 / 2 / 4;

    @media screen and (max-width: 1200px) {
      grid-area: 1 / 1 / 2 / 3;
    }
    @media screen and (max-width: 768px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  &:nth-child(4) {

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &:nth-child(2n) {

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.project-list__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 24px;
  background-color: #FFFEF2;
  gap: 20px;
  padding: 20px;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }

  &--first-item {
    padding: 24px 20px;

    @media screen and (max-width: 768px) {
      padding: 12px;
    }
  }
}

.project-list__image {
  width: 100%;
  height: 338px;
  object-fit: cover;
  border-radius: 13px;

  @media screen and (max-width: 1200px) {
    width: 100%;
    height: 448px;
  }
  @media screen and (max-width: 768px){
    width: 100%;
    height: 363px;
  }

  &--first-item {
    height: 498px;

    @media screen and (max-width: 1200px){
      height: 498px;
    }
    @media screen and (max-width: 768px){
      height: 278px;
    }
  }
}

.project--list__text-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 580px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.project-list__title {
  @include big-text($color: #565656, $font-size: 24px);
  margin-top: 4px;
  margin-bottom: 0;

  @media screen and (max-width: 768px){
    @include big-text($color: #565656, $font-size: 24px);
  }

  &--first-item {
    color: #565656;
    font-family: $fancy-ff;
    font-size: 40px;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }
}

.project-list__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: $regular-ff;
  font-weight: 500;
  line-height: normal;

  @media screen and (max-width: 768px){
    font-size: 15px;
  }

  &--first-item {
    font-weight: 700;
  }
}