.section-quotes {
  background-image: url("../../images/svg/quotes-bg.png");
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 320px;

  @media screen and (max-width: 1200px){
    padding-top: 275px;
    padding-bottom: 295px;
  }
  @media screen and (max-width: 768px){
    padding-top: 180px;
    padding-bottom: 170px;
  }
}

.section-quotes__quote {
  @include big-text();
  margin: 0;
  text-align: center;

  @media screen and (max-width: 768px){
    @include big-text($font-size: 24px);
  }
}
