.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1200px) {
    max-width: 704px;
  }

  @media screen and (max-width: 768px) {
    max-width: 343px;
  }

  &--footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;

    @media screen and (max-width: 1200px){
      gap: 60px;
    }
    @media screen and (max-width: 768px){
      gap: 113px;
    }
  }
}
