@mixin list-reset (
  $padding-left: 0,
  $margin-top: 0,
  $margin-bottom: 0,
  $list-style: none
) {
  padding-left: $padding-left;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  list-style: $list-style;
}

@mixin huge-text (
  $color: #FFF,
  $font-family: $fancy-ff,
  $font-size: 80px,
  $font-weight: 700
) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin big-text (
  $color: #FFF,
  $font-family: $fancy-ff,
  $font-size: 48px,
  $font-weight: 700,
  $font-style: normal
) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
}
